variables()
// normalize-css()
// base()
// typography()
components()
scrollbars()

a
	color: var(--eventyay-clr-primary)
	text-decoration: none

html, body
	margin: 0
	--eventyay-clr-primary: #673ab7

.bunt-scrollbar
	min-height: 0 // firefox can fuck off into space
