include _build/backend.py
include LICENSE
include README.rst
include src/eventyay.example.cfg

exclude src/eventyay/override_settings.py
exclude src/eventyay.cfg

recursive-exclude doc *
recursive-exclude src/data *
recursive-exclude src/local *
recursive-exclude src/static.dist *

recursive-include src/eventyay/frontend *
recursive-exclude src/eventyay/frontend/schedule-editor/dist *
recursive-exclude src/eventyay/frontend/schedule-editor/node_modules *

recursive-include src/eventyay/static *
recursive-include src/eventyay/locale *
recursive-include src/eventyay/agenda/templates *
recursive-include src/eventyay/api/templates *
recursive-include src/eventyay/common/templates *
recursive-include src/eventyay/cfp/templates *
recursive-include src/eventyay/mail/templates *
recursive-include src/eventyay/orga/templates *
recursive-include src/eventyay/schedule/templates *
recursive-exclude src/tests *
recursive-include src *.py

global-exclude *.py[co]
global-exclude __pycache__
