@font-face {
    font-family: 'Open Sans';
    src: url("/static/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff2") format("woff2"),
         url("/static/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url("/static/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff2") format("woff2"),
         url("/static/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url("/static/fonts/opensans_italic_macroman/OpenSans-Italic-webfont.woff2") format("woff2"),
         url("/static/fonts/opensans_italic_macroman/OpenSans-Italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url("/static/fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff2") format("woff2"),
         url("/static/fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

:root {
  --font-fallback:
    "Open Sans", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family: "Open Sans", var(--font-fallback);
  --font-family-title: "Open Sans", var(--font-fallback);
  --font-family-monospace:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

body {
  font-family: var(--font-family);
}
h1,
h2,
h3,
h4,
legend,
button,
[role="button"],
.button a.btn,
::file-selector-button,
summary.btn {
  &:not(.font-text) {
    font-family: var(--font-family-title);
    font-weight: 600; 
  }
}
code,
pre {
  font-family: var(--font-family-monospace);
}
