{% extends "orga/cfp/base.html" %}
{% load i18n %}

{% block cfp_content %}
    <div class="alert alert-info">
        {% blocktranslate trimmed %}
            Questions can help you sort out additional details with speakers, such as
            clothing sizes, special requirements such as dietary needs, or accommodation.
            Questions can be asked either on a per-proposal level, or per speaker, as
            you see fit.
        {% endblocktranslate %}
    </div>
    <div class="submit-group">
        <span></span>
        <span>
            {% if questions %}
                <a href="{{ request.event.cfp.urls.remind_questions }}" class="btn btn-info">{% translate "Send out reminders for unanswered questions" %}</a>
            {% endif %}
            <a href="{{request.event.cfp.urls.new_question }}" class="btn btn-success">
                <i class="fa fa-plus"></i>
                {% translate "Add a new question" %}
            </a>
        </span>
    </div>

    <div class="table-responsive-sm">
        <table class="table table-hover table-sm table-flip-sticky">
            <thead>
                <tr>
                    <th>{% translate "Question" %}</th>
                    <th>{% translate "Target" %}</th>
                    <th class="text-center">{% translate "Required" %}</th>
                    <th class="text-center">{% translate "Active" %}</th>
                    <th class="text-center">{% translate "Public" %}</th>
                    <th class="numeric text-center">{% translate "Answers" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>
                            <a href="{{ question.urls.base }}">
                                {{ question.question }}
                            </a>
                        </td>
                        <td>
                            {{ question.get_target_display }}
                        </td>
                        <td class="text-center">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="{{ question.urls.required }}"
                                    {% if question.question_required == "required" %}
                                        class="btn btn-sm btn-outline-primary"
                                        title="{% translate "Always Required" %}"
                                    {% elif question.question_required == "optional" %}
                                        class="btn btn-sm btn-outline-secondary"
                                        title="{% translate "Always Optional" %}"
                                    {% else %}
                                        class="btn btn-sm btn-outline-danger"
                                        title="{% translate "Required After A Deadline" %}"
                                    {% endif %}
                                >
                                    {% if question.question_required == "required" %}
                                        Required
                                    {% elif question.question_required == "optional"  %}
                                        Optional
                                    {% else %}
                                        Deadline
                                    {% endif %}
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="{{ question.urls.active }}" >
                                {% if question.active %}
                                    <i class="fa fa-toggle-on text-dark"></i>
                                {% else %}
                                    <i class="fa fa-toggle-off text-dark"></i>
                                {% endif %}
                            </a>
                        </td>
                        <td class="text-center">
                            {% if question.answer_count == 0%}
                                <a href="{{ question.urls.public }}" >
                                    {% if question.is_public == True %}
                                        <i class="fa fa-toggle-on text-dark "></i>
                                    {% else %}
                                        <i class="fa fa-toggle-off text-dark"></i>
                                    {% endif %}
                                </a>
                            {% else %}
                                {% if question.is_public == True %}
                                    <i class="fa fa-toggle-on"
                                    title= "{% translate "This question is already public"%}"></i>
                                {% else %}
                                    <i class="fa fa-toggle-off"
                                    title= "{% translate "This question has answers and cannot be made public"%}"></i>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="numeric text-center">
                            {{ question.answer_count }}
                        </td>
                        <td class="action-column">
                            {% include "orga/includes/order_object.html" with object=question %}
                            <a href="{{ question.urls.edit }}"
                               class="btn btn-sm btn-info"
                               title="{% translate "Edit" %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{{ question.urls.delete }}"
                               class="btn btn-sm btn-danger"
                               title="{% translate "Delete" %}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                {% empty %}
                    <tr>
                        <td colspan=4 class="w-75">{% translate "You have configured no questions yet." %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
