{% extends "orga/base.html" %}

{% load compress %}
{% load i18n %}
{% load static %}
{% load html_signal %}

{% block scripts %}
    {% compress js %}
        <script defer src="{% static 'vendored/zxcvbn.js' %}"></script>
        <script defer src="{% static 'common/js/password_strength.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block extra_title %}{% translate "User settings" %} :: {% endblock extra_title %}
{% block content %}
    <fieldset class="m-2">
        <legend id="user">{% translate "User settings" %}</legend>
        {% include "orga/includes/base_form.html" with form=profile_form submit_name="form" submit_value="profile" %}
    </fieldset>

    <fieldset class="m-2 password-input-form">
        <legend id="login">{% translate "Login settings" %}</legend>
        {% include "orga/includes/base_form.html" with form=login_form submit_name="form" submit_value="login" %}
    </fieldset>

    {% include "common/user_api_token.html" with orga="true" %}

    {% html_signal "pretalx.common.signals.profile_bottom_html" sender=request.event user=user orga="true" %}
{% endblock content %}
